:root {
  --font-family: "montserrat", "Helvetica", sans-serif;
  --text-color: #f2f2f2;
  --lighter-text-color: #9b9b9b;
  --lighter-dark-background: #252525;
  --dark-text-color: #060606;
  --dark-background: #1a1a1a;
  --tooltip-background: #333;
  --popup-background: #252525;
  --accent-color: #00acff;
  --backdrop-blur: 15px;
  --border-radius: 5px;
  --subway-color: #ed8b00;
  --rapid-transit-color: #da291c;
  --commuter-rail-color: #80276c;
  --bus-color: #ffc72c;
  --ferry-color: #008eaa;
  --all-routes-color: #7c878e;
  --nav-border-height: 2px;
  --mobile-threshold: 768px;
  --sidebar-width: 500px;
  --sidebar-handle-width: 3px;
  --sidebar-content-padding: 10px;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.ttf");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.montserrat {
  font-family: "montserrat", "Helvetica", sans-serif !important;
}

html,
body,
#map {
  overflow: hidden;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: var(--font-family) !important;
  background-color: var(--popup-background);
}

#map {
  position: absolute;
  z-index: 0;
  height: calc(100% - var(--navbar-height));
  width: calc(100% - var(--sidebar-width));
}

noscript {
  color: red;
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  color: rgb(85, 85, 85);
}
.main {
  font-size: 10pt;
  font-family: var(--font-family);
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  width: auto;
  overflow: visible;
  padding: 14px 16px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.mini_image {
  width: 25px;
  height: 25px;
  margin: 2px;
}

.vehicle_text {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family);
  color: var(--text-color);
}

.vehicle_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big_img {
  width: 100px;
  /* top: 10%; */
}

input {
  font-family: var(--font-family);
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline dotted 1px;
}

.anchor-accent {
  color: var(--accent-color) !important;
}

body {
  padding: 0;
  margin: 0;
}

.contact_imgs {
  width: 45px;
  border-radius: 50%;
}
/* 
html,
body,
#map {
  height: 100%;
  width: 100vw;
} */

/* body {
  padding-top: 50px;
  margin: 0;
} */

.flag_stop {
  color: #c73ca8 !important;
}

.early_departure {
  color: #2084d6 !important;
}

.popup_footer {
  color: rgb(123, 123, 123);
  font-size: 9pt;
}

.facility_header {
  color: #00acff !important;
}

.facility_accent {
  color: #00acff !important;
}

.facility_contact {
  font-size: 9pt !important;
  text-align: left !important;
  color: #00acff !important;
}

.footer_html {
  font-size: 9pt !important;
  text-align: left !important;
  color: grey !important;
}

h1 {
  font-size: 42pt;
}

.subheader {
  margin-top: -20px;
}

.popup_header {
  font-size: 28pt !important;
  text-align: left !important;
  margin-left: -2px !important;
}

.homepage {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.homepage td {
  padding: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
  opacity: 0.2;
  border-radius: var(--border-radius);
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;

  border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: var(--border-radius);
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #636363;
  opacity: 1;
}
.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  background: var(--tooltip-background);
  transform: translate(5%, -20%);
  color: #fff;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  white-space: nowrap;
  font-family: var(--font-family);
}

/* .tooltip::before {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 1;
  transform: translate(100%, 50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
} */

.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
}

.severe-delay {
  color: var(--rapid-transit-color) !important;
}

.moderate-delay {
  color: var(--subway-color) !important;
}

.slight-delay {
  color: var(--bus-color) !important;
}

.on-time {
  color: #00843d !important;
}

#subway:hover {
  background-color: var(--subway-color);
}

#rapid_transit:hover {
  background-color: var(--rapid-transit-color);
}

#commuter_rail:hover {
  background-color: var(--commuter-rail-color);
}

#bus:hover {
  background-color: var(--bus-color);
}

#ferry:hover {
  background-color: var(--ferry-color);
}

.color-subway {
  color: var(--subway-color) !important;
}

.color-rapid_transit {
  color: var(--rapid-transit-color) !important;
}

.color-commuter_rail {
  color: var(--commuter-rail-color) !important;
}

.color-bus {
  color: var(--bus-color) !important;
}

.color-ferry {
  color: var(--ferry-color) !important;
}

.border-bottom-subway {
  border-bottom: var(--nav-border-height) solid var(--subway-color);
}

.border-bottom-rapid_transit {
  border-bottom: var(--nav-border-height) solid var(--rapid-transit-color);
}

.border-bottom-commuter_rail {
  border-bottom: var(--nav-border-height) solid var(--commuter-rail-color);
}

.border-bottom-bus {
  border-bottom: var(--nav-border-height) solid var(--bus-color);
}

.border-bottom-ferry {
  border-bottom: var(--nav-border-height) solid var(--ferry-color);
}

noscript {
  color: var(--rapid-transit-color);
  top: 0;
  bottom: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

.mobile-hidden {
  display: none;
}

.data-table {
  border: 1px solid var(--text-color) !important;
  width: 100%;
  border-collapse: collapse;

  text-align: left;
  tbody,
  thead,
  tr,
  td,
  th {
    border: 1px solid var(--text-color) !important;
    padding: 10px;
  }
}

.sidebar-table {
  border: 1px solid var(--text-color) !important;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-radius: 40px;
  tbody,
  thead,
  tr,
  td,
  th {
    border: 1px solid var(--text-color) !important;
    padding: 10px;
  }
  tbody tr:nth-child(odd) {
    background-color: var(--lighter-dark-background);
    /* color: var(--dark-background); */
  }
}

.sortable thead th:not(.no-sort) {
  cursor: pointer;
}
.sortable thead th:not(.no-sort)::after,
.sortable thead th:not(.no-sort)::before {
  transition: color 0.1s ease-in-out;
  color: transparent;
}
.sortable thead th:not(.no-sort)::after {
  margin-left: 3px;
  content: "▸";
}
.sortable thead th:not(.no-sort):hover::after {
  color: inherit;
}
.sortable thead th:not(.no-sort)[aria-sort="descending"]::after {
  color: inherit;
  content: "▾";
}
.sortable thead th:not(.no-sort)[aria-sort="ascending"]::after {
  color: inherit;
  content: "▴";
}
.sortable thead th:not(.no-sort).indicator-left::after {
  content: "";
}
.sortable thead th:not(.no-sort).indicator-left::before {
  margin-right: 3px;
  content: "▸";
}
.sortable thead th:not(.no-sort).indicator-left:hover::before {
  color: inherit;
}
.sortable
  thead
  th:not(.no-sort).indicator-left[aria-sort="descending"]::before {
  color: inherit;
  content: "▾";
}
.sortable thead th:not(.no-sort).indicator-left[aria-sort="ascending"]::before {
  color: inherit;
  content: "▴";
}

@-webkit-keyframes spin {
  100% {
    /* margin-left: 400px; */
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    /* margin-left: 400px; */
    transform: rotate(360deg);
  }
}
.spinner {
  margin: 20px;
  width: 100px;
  height: 100px;
  z-index: 10000;
  -webkit-animation: myanimation 5s;
  animation: myanimation 5s;
  /* background: #f00;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

#sidebar {
  position: absolute;
  z-index: 1;
  width: var(--sidebar-width);
  min-width: 250px;
  height: 100%;
  background: var(--dark-background);
  color: var(--text-color);
  padding: 10px;
  overflow-y: scroll;

  /* border-left: 1px solid var(--text-color); */
  right: 0;
  scroll-padding-bottom: 50px;
  padding-bottom: 50px;
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar {
    border-radius: 0px;
  }
}

.sortable-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--text-color);
  /* thead {
    background: var(--dark-background);
    color: var(--text-color);
  }
  th {
    padding: 10px;
    text-align: left;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
  } */
}

#sidebar-handle {
  position: absolute;
  z-index: 1;
  width: var(--sidebar-handle-width);
  height: 100%;
  top: 0;
  /* right: min(calc(100vw - var(--sidebar-width)), var(--sidebar-width)); */
  background: var(--dark-background);
  color: var(--text-color);
  /* padding: 10px; */
  /* overflow-y: auto; */
  transition: 0.125s;
  /* border-left: 1px solid var(--text-color); */
  right: calc(var(--sidebar-width) - var(--sidebar-handle-width));
  left: 0px;
}

#sidebar-always {
  z-index: 1;
  background: var(--dark-background);
  margin: 10px 20% 0 0%;
  width: max-content;
  /* min-width: calc(100% - var(--sidebar-width)); */
  /* width: min(max-content, calc(100% - var(--sidebar-handle-width))); */
  color: var(--text-color);
  /* padding: 10px; */
  padding-bottom: 50px;
}

#sidebar-handle:hover {
  background: var(--text-color);
  cursor: col-resize;
}

#sidebar-content,
#sidebar-default-content {
  width: calc(100% - var(--sidebar-handle-width));

  table {
    td {
      padding: 2px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  table {
    text-align: center;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@media (max-width: 786px) {
  .mobile-hidden {
    display: block;
  }
  #sidebar {
    display: none;
  }
  #map {
    width: 100%;
  }
}
