.leaflet-popup-content-wrapper {
  background: rgb(0, 0, 0, 0.92) !important;
  color: #ffffff !important;
  font-family: var(--font-family) !important;
  text-align: left !important;
}

.leaflet-tooltip {
  font-family: var(--font-family) !important;
  color: #fff;
  font-size: 12pt !important;
  background: rgb(0, 0, 0, 0.92) !important;
  border: 15px rgb(0, 0, 0, 0.92) !important;
}

.leaflet-tooltip-right:before {
  left: 0 !important;
  margin-left: -12px !important;
  border-right-color: rgb(0, 0, 0, 0.92) !important;
}

.leaflet-tooltip-left:before {
  right: 0 !important;
  margin-right: -12px !important;
  border-left-color: rgb(0, 0, 0, 0.92) !important;
}

.leaflet-popup-content {
  font-size: 10pt !important;
  /* width: 95% !important; */
}

.leaflet-popup-close-button {
  display: block !important;
}
.leaflet-popup-tip {
  background: rgb(0, 0, 0, 0.92) !important;
  /* backdrop-filter: initial !important;
  -webkit-backdrop-filter: initial !important; */
  /* z-index: 5000 !important;
  position: relative !important; */
  /* margin-right: 20px !important;
  overflow: auto !important;
  overflow-wrap: normal !important; */
}
.leaflet-center {
  left: 50%;
  transform: translate(-50%, 0%);
}

.leaflet-middle {
  top: 50%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  transform: translate(0%, -50%);
}

.leaflet-center.leaflet-middle {
  transform: translate(-50%, -50%);
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  font-family: var(--font-family) !important;
  font-size: 8pt !important;
  background: rgb(0, 0, 0, 0.7) !important;
  /* backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px); */
  color: rgb(255, 255, 255, 0.7) !important;
  border-top-left-radius: 2px !important;
  margin-top: 12px;
}

.leaflet-container .leaflet-control-attribution a {
  margin-top: 100px !important;
}

.leaflet-control-layers-expanded {
  background: rgb(0, 0, 0, 0.92) !important;
  /* backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px); */
  color: #ffffff !important;
  font-family: var(--font-family) !important;
  font-size: 8pt !important;
}

.leaflet-container a {
  color: #ffffff;
  text-decoration: none;
}

.leaflet-container a:hover {
  /* text-decoration: underline dotted rgb(inherit, 0); */
  text-decoration: underline dotted 1px;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: black;
}

.leaflet-control-search.search-exp,
.leaflet-control-search .search-input {
  background-color: rgb(0, 0, 0, 0.7);
  color: #ffffff;
}

.leaflet-control-search .search-tip {
  background: none;
  color: #ffffff;
}
.leaflet-control-search .search-tooltip {
  position: absolute;
  top: 21px;
  left: 0;
  float: left;
  list-style: none;
  padding-left: 0;
  min-width: 120px;
  max-height: 122px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1010;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.leaflet-control-search .search-tip:hover {
  background-color: rgba(99, 99, 99, 0.7);
  color: #ffffff;
}

.leaflet-control-search .search-button:hover {
  background: url(\static\npm_packages\images\search-icon.png) none;
}

.marker-cluster div {
  font-family: var(--font-family) !important;
  color: #ffffff !important;
}

/* .leaflet-control-search .search-button,
.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-button {
  background: rgb(0, 0, 0, 0.7);
} */
/* 
.leaflet-control {
  position: relative !important;
  z-index: 3000 !important;
} */

/* .leaflet-control-layers label {
  background: rgb(0, 0, 0, 0.92) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff !important;
  font-family: var(--font-family) !important;
  font-size: 8pt !important;
} */
.leaflet-control-locate-location circle {
  animation: leaflet-control-locate-throb 10s ease infinite;
}

@keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }

  50% {
    stroke-width: 3;
    transform: scale(0.05 0.05);
  }

  100% {
    stroke-width: 1;
  }
}

@-webkit-keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }

  50% {
    stroke-width: 3;
    -webkit-transform: scale(0.05 0.05);
  }

  100% {
    stroke-width: 1;
  }
}
