/**
  @import url("./index.css");
*/

:root {
  --leaflet-control-search-height: 30px;
  --leaflet-control-icon: 30px;
}

.leaflet-top {
  top: var(--navbar-height);
}

.leaflet-popup-content-wrapper {
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius));
  border-radius: var(--border-radius) !important;
  p {
    margin: 0 !important;
  }
}
.leaflet-control-layers-expanded,
.leaflet-popup-content-wrapper,
.leaflet-tooltip,
.leaflet-popup-tip,
.leaflet-popup-content-wrapper::after,
.leaflet-tooltip::after,
.leaflet-popup-content::after {
  background-color: var(--background-color-blur);
  backdrop-filter: blur(var(--blur-radius));
  -webkit-backdrop-filter: blur(var(--blur-radius));
  border-radius: var(--border-radius) !important;
  /* background: var(--background-color) !important; */
  color: var(--text-color) !important;
  font-family: var(--font-family) !important;
  text-align: left !important;
}

.leaflet-control-layers-expanded {
  border: none !important;
  color: var(--text-color) !important;
}

.leaflet-control-layers-expanded > * {
  color: var(--text-color) !important;
}

.leaflet-popup-tip {
  position: sticky;
  z-index: -1 !important;
}

.leaflet-popup-content {
  font-size: 10pt !important;
  /* width: 95% !important; */
}

.leaflet-popup-close-button {
  display: block !important;
}

.leaflet-popup-content-wrapper::after {
  border-radius: var(--border-radius) !important;
}

.leaflet-tooltip {
  font-size: 12pt !important;
  border-radius: var(--border-radius) !important;
  border: none;
  opacity: 1 !important;
}

.leaflet-tooltip::after,
.leaflet-tooltip {
  border-radius: 10px !important;
}

.leaflet-tooltip-right:before {
  display: none;

  /* left: 0 !important;
  margin-left: -12px !important;
  border-right-color: var(--background-color-blur) !important;
  backdrop-filter: blur(var(--blur-radius));
  -webkit-backdrop-filter: blur(var(--blur-radius)); */
}

.leaflet-tooltip-left:before {
  display: none;
  /* right: 0 !important;
  margin-right: -12px !important;
  border-left-color: var(--background-color-blur) !important;
  backdrop-filter: blur(var(--blur-radius));
  -webkit-backdrop-filter: blur(var(--blur-radius)); */
}

.leaflet-center {
  left: 50%;
  transform: translate(-50%, 0%);
}

.leaflet-middle {
  top: 50%;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  transform: translate(0%, -50%);
}

.leaflet-center.leaflet-middle {
  transform: translate(-50%, -50%);
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  font-family: var(--font-family) !important;

  font-size: 8pt !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px);
  background-color: var(--background-color-blur) !important;
  color: var(--text-color) !important;
  border-top-left-radius: 2px !important;
  margin-top: 12px;
  a {
    color: var(--text-color) !important;
  }
}

.leaflet-container .leaflet-control-attribution a {
  margin-top: 100px !important;
}
/* 
.leaflet-control-layers-expanded {
  color: var(--dark-text-color) !important;
  font-family: var(--font-family) !important;
  font-size: 8pt !important;
} */

.leaflet-container a {
  color: var(--text-color);
  text-decoration: none;
}

.leaflet-container a:hover {
  text-decoration: underline dotted 1px;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: black;
}

.marker-cluster div {
  font-family: var(--font-family) !important;
  color: var(--dark-text-color) !important;
}

.leaflet-control-locate-location circle {
  animation: leaflet-control-locate-throb 10s ease infinite;
}

.leaflet-sidebar {
  background-color: rgba(var(--background-color-blur));
  backdrop-filter: blur(var(--blur-radius));
  -webkit-backdrop-filter: blur(var(--blur-radius));
  z-index: 100000;
  color: var(--text-color);
}

@keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }

  50% {
    stroke-width: 3;
    transform: scale(0.05 0.05);
  }

  100% {
    stroke-width: 1;
  }
}

@-webkit-keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }

  50% {
    stroke-width: 3;
    -webkit-transform: scale(0.05 0.05);
  }

  100% {
    stroke-width: 1;
  }
}

.search-input {
  color: #252525 !important;
}
