:root {
  --navbar-height: 50px;
  --grey-accent: #525252;
}

* {
  box-sizing: border-box;
}

nav {
  position: sticky;
  font-family: var(--font-family);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-text-color);
  height: var(--navbar-height);
  padding: 1em;
  font-size: 12pt;
  z-index: 1000;
}

nav a,
nav a:visited,
nav a:hover,
nav a:visited:hover {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.menu li:hover,
.titleLogo:hover {
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--accent-dark);
}

.menu li:active,
.titleLogo:active {
  color: var(--accent);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li,
.titleLogo {
  padding: 0 1rem;
  overflow: hidden;
  height: var(--navbar-height);
}

.menu > li > *,
.titleLogo > * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Container for menu button  */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--text-color);
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 3px;
}

.menu-button:hover,
.menu-button:hover::before,
.menu-button:hover::after {
  background-color: var(--grey-accent);
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: var(--navbar-height);
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid var(--grey-accent); */
    height: 2.5em;
    padding: 0.5em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--text);
    background-color: #1a1a1a;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--text-color);
  }
}
