.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  min-width: 300px;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 8px 8px;
  position: absolute;
  z-index: 100000;
  top: -5px;
  height: auto;
  left: 135%;
  color: var(--text-color) !important;
  overflow-y: auto;
  transform: none;
  overflow-x: hidden;
  max-height: 250px;
  background: var(--background-color-blur);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius));
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family) !important;
}
/* people should just use firefox */
.popup-solid-bg {
  background: var(--background-color) !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

/* Popup arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 4%;
    left: -3%;
    margin-top: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f2f2f2 transparent transparent;
    z-index: 10000;
  } */

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 250ms;
  animation: fadeIn 250ms;
}
