.leaflet-popup-content-wrapper {
  background: rgb(0, 0, 0, 0.92) !important;
  color: #ffffff !important;
  font-family: "montserrat", "Helvetica", sans-serif !important;
  text-align: left !important;
  /* backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always; */
  /* z-index: 21312312 !important;
  position: relative !important; */
}

/* .leaflet-popup-pane {
  z-index: 140213120;
} */

.leaflet-tooltip {
  font-family: "montserrat", "Helvetica", sans-serif !important;
  color: #fff;
  font-size: 12pt !important;
  background: rgb(0, 0, 0, 0.92) !important;
  /* backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px); */
  border: 15px rgb(0, 0, 0, 0.92) !important;
}

.leaflet-tooltip-right:before {
  left: 0 !important;
  margin-left: -12px !important;
  border-right-color: rgb(0, 0, 0, 0.92) !important;
}

.leaflet-tooltip-left:before {
  right: 0 !important;
  margin-right: -12px !important;
  border-left-color: rgb(0, 0, 0, 0.92) !important;
}

.leaflet-popup-content {
  font-size: 10pt !important;
  /* width: 95% !important; */
}

.leaflet-popup-close-button {
  display: block !important;
}
.leaflet-popup-tip {
  background: rgb(0, 0, 0, 0.92) !important;
  /* backdrop-filter: initial !important;
  -webkit-backdrop-filter: initial !important; */
  /* z-index: 5000 !important;
  position: relative !important; */
  /* margin-right: 20px !important;
  overflow: auto !important;
  overflow-wrap: normal !important; */
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  font-family: "montserrat", "Helvetica", sans-serif !important;
  font-size: 8pt !important;
  background: rgb(0, 0, 0, 0.7) !important;
  /* backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px); */
  color: rgb(255, 255, 255, 0.7) !important;
  border-top-left-radius: 2px !important;
  margin-top: 10px;
}

.leaflet-control-layers-expanded {
  background: rgb(0, 0, 0, 0.92) !important;
  /* backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px); */
  color: #ffffff !important;
  font-family: "montserrat", "Helvetica", sans-serif !important;
  font-size: 8pt !important;
}
/* 
.leaflet-control {
  position: relative !important;
  z-index: 3000 !important;
} */

/* .leaflet-control-layers label {
  background: rgb(0, 0, 0, 0.92) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff !important;
  font-family: "montserrat", "Helvetica", sans-serif !important;
  font-size: 8pt !important;
} */
