::-webkit-scrollbar {
    width: 10px;
    background-color: #161616;
    opacity: 0.2;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #161616;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #3A3A3A;
    opacity: 1.0;
}