.table,
.table tr,
.table td {
    border: 1px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: 0px;
    border-color: #ffffff;
    border-style: solid;
    table-layout: fixed;
    max-height: 150px;
    font-family: 'montserrat', 'Helvetica', sans-serif !important;
}