{% extends "base.html" %} {% block title %}mbtamapper{% endblock %} {% block
content %}
<div id="map"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script async defer>
  /**
   * @import { Theme } from "./js/utils.js"
   */
  window.addEventListener("load", () => {
    /** @type {RouteKeys} */
    const routeKeys = JSON.parse(`{{ key_dict | tojson }}`);
    /**@type {([keyof RouteKeys, RouteKey])[]} */
    const keys = Object.entries(routeKeys)
      .sort((a, b) => a[1].sort_order - b[1].sort_order)
      .filter(([key, obj]) => key !== "all_routes");
    const map = createHomepageMap(
      "map",
      routeKeys,
      /* HTML */ `
        <div class="titlepage leaflet-text-control">
          <h1 style="font-size: 21pt;margin-bottom:5px">
            <span class="severe-delay">404</span> - Page Not Found
          </h1>
          <div class="my-5">{{ url }} doesn't exist.</div>
          <div style="width: 100%; text-align: center;">
            <hr />
          </div>
          <div class="my-5">
            <div>
              The page you are looking for might have been removed, had its name
              changed, or is temporarily unavailable.
            </div>
            <div class="my-5">
              <a href="{{ possible_url }}" class="anchor-accent"
                >Possible Link</a
              >
            </div>
            <div><a href="/" class="anchor-accent">Home</a></div>
          </div>
          <div class="footer" style="margin-top: 0px">
            <div class="fa link-wrapper">
              <a
                href="/"
                class="tooltip"
                data-tooltip="Home"
                style="margin-right: 5px"
                >&#xf015;</a
              >
              <a id="modeToggle" class="tooltip" style="margin-right: 5px">
                &#xf2bd;
              </a>
              <a
                href="https://github.com/johan-cho/mbtamapper"
                target="_blank"
                rel="noopener"
                class="tooltip"
                data-tooltip="Github"
                style="margin-right: 5px"
                >&#xf09b;</a
              >
              <a
                href="https://tandy.xyz/"
                target="_blank"
                rel="noopener"
                class="tooltip"
                data-tooltip="About Me"
              >
                <img
                  src="/static/img/riolu_light_1mb.png"
                  loading="lazy"
                  class="inline-img"
                />
              </a>
            </div>
            <div class="footer">
              <code class="footer-text-sm">
                <a
                  href="{{ git_info.remote_url }}/commit/{{ git_info.commit }}"
                  rel="noopener"
                  target="_blank"
                  >{{ git_info.commit[:6] }}</a
                >
                {{ git_info.author_date[:10] }} - {{ git_info.message }}
              </code>
            </div>
          </div>
        </div>
      `
    );
  });
</script>
{% endblock %}
