{% extends "base.html" %} {% block title %}mbtamapper{% endblock %} {% block
content %}
<div id="map"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script async defer>
  window.addEventListener("load", () => {
    /** @type {RouteKeys} */
    const routeKeys = JSON.parse(`{{ key_dict | tojson }}`);
    /**@type {([keyof RouteKeys, RouteKey])[]} */
    const keys = Object.entries(routeKeys)
      .sort((a, b) => a[1].sort_order - b[1].sort_order)
      .filter(([key, obj]) => key !== "all_routes");
    const map = createHomepageMap(
      "map",
      routeKeys,
      /* HTML */ `
        <div class="titlepage leaflet-text-control">
          <h1 id="titleCard">mbtamapper</h1>
          <h4>Realtime Tracking of MBTA Vehicles</h4>
          <table>
            ${keys
              .map(([key, obj], i) => {
                return `
                <tr class="${key}">
                  <td style='${
                    i === keys.length - 1 ? "border-bottom: none;" : ""
                  }'>
                    <a href="/${key}/">
                    <span class='fa'>${obj.fa_unicode}</span>
                      ${obj.display_name}
                    </a>
                  </td>
                </tr>
              `;
              })
              .join("")}
          </table>
          <div class="footer">
            <div class="footer-text">
              A real-time, interactive map for tracking MBTA vehicles, including
              commuter rail (Keolis), subway, and buses. Tracks live locations,
              routes, and service alerts for all MBTA lines.
            </div>
            <div class="fa link-wrapper">
              <a id="modeToggle" class="tooltip" style="margin-right: 5px">
                &#xf2bd;
              </a>
              <a
                href="https://github.com/johan-cho/mbtamapper"
                target="_blank"
                rel="noopener"
                class="tooltip"
                data-tooltip="Github"
                style="margin-right: 5px"
                >&#xf09b;</a
              >
              <a
                href="https://tandy.xyz/"
                target="_blank"
                rel="noopener"
                class="tooltip"
                data-tooltip="About Me"
              >
                <img
                  src="/static/img/riolu_light_1mb.png"
                  loading="lazy"
                  class="inline-img"
                />
              </a>
            </div>
          </div>
          <div class="footer">
            <code class="footer-text-sm">
              <a
                href="{{ git_info.remote_url }}/commit/{{ git_info.commit }}"
                rel="noopener"
                target="_blank"
                >{{ git_info.commit[:6] }}</a
              >
              {{ git_info.author_date[:10] }} - {{ git_info.message }}
            </code>
          </div>
        </div>
      `
    );
  });
</script>

{% endblock %}
