<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta
      name="keywords"
      content="johan cho, johan, cho, northeastern, industrial engineering, data science, data, science, portfolio, projects, mbtamapper, mbta, mapper, mbta mapper, mbta map, mbta map generator, mbta map maker, mbta map creator, mbta map builder, mbta map builder, mbta map editor, mbta map editor, mbta map designer, mbta map designer, mbta map generator, mbta map generator, mbta map maker, mbta map maker, mbta map creator, mbta map creator, mbta map builder, mbta map builder, mbta map editor, mbta map editor, mbta map designer, mbta map designer, mbta map generator, mbta map generator, mbta map maker, mbta map maker, mbta map creator, mbta map creator, mbta map builder, mbta map builder, mbta map editor, mbta map editor, mbta map designer, mbta map designer, mbta map generator, mbta map generator, mbta map maker, mbta map maker, mbta map creator, mbta map creator, mbta map builder, mbta map builder, mbta map editor, mbta map editor, mbta map designer, mbta map designer"
    />
    <meta name="author" content="Johan Cho" />
    <link rel="canonical" href="https://johan-cho.github.io" />

    <meta
      name="description"
      content="Portfolio for a northeastern university industrial engineering student who's interested in data science"
    />
    <link rel="icon" href="/static/img/all_routes.ico" type="image/x-icon" />
    <title>Johan Cho</title>

    <meta property="og:url" content="https://johan-cho.github.io" />
    <meta property="og:image" content="/static/img/mbta.png" />
    <meta property="og:description" content="my portfolio" />
    <meta property="og:title" content="Johan Cho" />
    <!-- <meta property="og:site_name" content="johan cho's portfolio" /> -->
    <meta property="og:see_also" content="https://johan-cho.github.io" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/titlepage.css') }}"
    />
  </head>
  <body class="titlepage">
    <main class="mainContainer no-highlight">
      <h1>mbta mapper</h1>
      <p class="subheader margin-top-neg-30">realtime maps of the mbta</p>
      <hr />

      <table>
        {% for key, value in content.items() if not key == "ALL_ROUTES" %}
        <tr>
          <td class="button_base {{ key | lower }}">
            <a class="fa" href="/{{ key | lower }}">
              &#{{ value.fa_unicode }}; &nbsp;
              <span class="montserrat">{{ value.display_name }}</span></a
            >
          </td>
        </tr>
        {% endfor %}
      </table>

      <div class="footer">
        <div>
          I have no relation to the mbta other than being a former keolis
          employee.
        </div>
        <div class="fa link-wrapper">
          <a
            href="https://github.com/johan-cho"
            target="_blank"
            rel="noopener"
            class="tooltip"
            data-tooltip="github"
            >&#xf09b;</a
          ><a
            href="https://johan-cho.github.io/"
            target="_blank"
            rel="noopener"
            class="tooltip"
            data-tooltip="about"
          >
            &#xf2bd;
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
