<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.95" />

    <meta name="description" content="{{ description }}" />
    <meta
      name="keywords"
      content="johan cho, northeastern, mbtamapper, mbta mapper, mbta map, mbta map realtime, realtime, massachusetts, commuter rail"
    />
    <meta name="author" content="Johan Cho" />
    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mbtamapper.com/" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:description" content="{{ description }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tandywastaken" />
    <meta name="twitter:creator" content="@tandywastaken" />
    <meta name="twitter:title" content="MBTA System Map" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ image }}" />
    <meta name="twitter:url" content="https://mbtamapper.com/" />

    <!-- icons -->
    <link rel="icon" href="{{ icon }}" />
    <link rel="shortcut icon" href="{{ icon }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ icon }}" />
    <link rel="shortcut_icon" sizes="180x180" href="{{ icon }}" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/bundle.css') }}"
    />
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  </head>

  <body>
    <nav class="nav border-bottom-{{ _key | lower }}" id="navbar">
      <div class="titleLogo" id="titleLogo"><a href="../">mbtamapper</a></div>
      <input id="menu-toggle" type="checkbox" title="menutoggle" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>

      <ul class="menu" id="navmenu">
        <li id="modeToggle" class="fa"><a>&#xF186;</a></li>
        {% for key, value in navbar.items() if not key == "all_routes" %} {% if
        key == _key %}
        <li>
          <a href="#" class="color-{{ key | lower }}"
            >{{ value.display_name }}</a
          >
        </li>
        {% else %}
        <li id="{{ key | lower }}">
          <a href="../{{ key | lower }}">{{ value.display_name }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </nav>
    <!-- <x-nav></x-nav> -->
    <div id="map"></div>
    <div id="sidebar">
      <div id="sidebar-header">
        <h2>{{ display_name }}</h2>
        <hr />
        <div id="findbox"></div>
      </div>
      <div id="sidebar-main">
        <div class="centered-parent wh100">
          <div class="loader-large"></div>
        </div>
      </div>
      <div id="sidebar-other" class="hidden"></div>
    </div>
    <noscript>This page requires Javascript to be enabled.</noscript>
    <script
      src="{{ url_for('static', filename='dist/map.js') }}"
      async
      defer
    ></script>
  </body>
</html>
