<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="viewport" charset="UTF-8"
        content="width=device-width, initial-scale=0.65, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="/static/mbta.png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/src/MarkerClusterGroup.js"></script>
    <script src="/static/custom_js/leaflet-realtime/leaflet-realtime.js"></script>
    <script src="/static/custom_js/leaflet-realtime/leaflet-realtime.min.js"></script>
    <link rel="stylesheet" href="/static/custom_js/leaflet-fullscreen/Control.FullScreen.css" />
    <script src="/static/custom_js/leaflet-fullscreen/Control.FullScreen.js"></script>

    <script src="/static/custom_js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/custom_css/popup.css" />
    <link rel="stylesheet" href="/static/custom_css/tooltip.css" />
    <link rel="stylesheet" href="/static/custom_css/table.css" />
    <link rel="stylesheet" href="/static/custom_css/scrollbar.css" />
    <link rel="stylesheet" href="/static/custom_css/leaflet_custom.css" />

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html,
        body,
        #map {
            height: 100%;
            width: 100vw;
        }
    </style>
    <title>MBTA System Map</title>
</head>

<body>
    <div id="map"></div>
    <script>
        const ROUTE_TYPE = getRouteType();
        let zoomTolerance = ROUTE_TYPE == "COMMUTER_RAIL" ? 11 : 12;
        let defaultZoom = ROUTE_TYPE == "COMMUTER_RAIL" ? 10 : 13;

        var map = L.map('map', {
            minZoom: 9, fullscreenControl: true,
            fullscreenControlOptions: {
                position: 'topleft'
            }
        }).setView([42.3519, -71.0552], defaultZoom);

        var CartoDB_Positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        }).addTo(map);
        var CartoDB_DarkMatter = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        });

        var stop_layer = L.layerGroup().addTo(map);
        var shape_layer = L.layerGroup().addTo(map);
        var vehicle_layer = L.markerClusterGroup({ disableClusteringAtZoom: zoomTolerance }).addTo(map);

        plotStops(`/static/geojsons/${ROUTE_TYPE}/stops.json`, stop_layer).addTo(map);
        plotShapes(`/static/geojsons/${ROUTE_TYPE}/shapes.json`, shape_layer).addTo(map);
        plotVehicles("/vehicles", vehicle_layer).addTo(map);


        var overlays = {
            "Vehicles": vehicle_layer,
            "Stops": stop_layer,
            "Shapes": shape_layer,
        };

        var baseMaps = {
            "Dark": CartoDB_DarkMatter,
            "Light": CartoDB_Positron
        };

        var layerControl = L.control.layers(baseMaps, overlays).addTo(map);
        map.invalidateSize();

        function plotVehicles(url, layer) {

            return L.realtime(
                url,
                {
                    interval: 15000,
                    type: 'FeatureCollection',
                    container: layer,
                    cache: true,
                    removeMissing: true,
                    getFeatureId(f) {
                        return f.id;
                    },
                    onEachFeature(f, l) {
                        var icon = L.divIcon({
                            html: f.properties.icon,
                            iconSize: [15, 15],
                        });
                        l.bindPopup(f.properties.popupContent, { maxWidth: "auto" });
                        l.bindTooltip(f.id);
                        l.setIcon(icon);
                        l.setZIndexOffset(100);
                    },
                }
            )
        }

        function plotStops(url, layer) {

            const stopIcon = L.icon({
                iconUrl: "/static/mbta.png",
                iconSize: [15, 15],
            });

            return L.realtime(
                url,
                {
                    interval: 3600000,
                    type: 'FeatureCollection',
                    container: layer,
                    cache: true,
                    removeMissing: true,
                    getFeatureId(f) {
                        return f.id;
                    },
                    onEachFeature(f, l) {
                        // l.setStyle({ renderer: L.canvas({ padding: 0.5, tolerance: 10 }) });
                        l.bindPopup(f.properties.popupContent, { maxWidth: "auto" });
                        l.bindTooltip(f.properties.stop_name);
                        l.setIcon(stopIcon);
                        l.setZIndexOffset(-100);
                    },
                }
            )
        }

        function plotShapes(url, layer) {

            let polyLineRender = L.canvas({ padding: 0.5, tolerance: 10 });

            return L.realtime(
                url,
                {
                    interval: 3600000,
                    type: 'FeatureCollection',
                    container: layer,
                    cache: true,
                    removeMissing: true,
                    getFeatureId(f) {
                        return f.id;
                    },
                    onEachFeature(f, l) {
                        l.setStyle({
                            color: f.properties.color,
                            opacity: f.properties.opacity,
                            weight: f.properties.weight,
                            renderer: polyLineRender
                        });

                        l.bindPopup(f.properties.popupContent, { maxWidth: "auto" });
                        l.bindTooltip(f.properties.name);
                    },
                }
            )
        }

    </script>

</body>

</html>