<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      charset="UTF-8"
      content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="description"
      content="MBTA Realtime map for a specific route."
    />
    <meta name="keywords" content="MBTA, Realtime, Map" />
    <meta name="author" content="Johan Cho" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}"
    />
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet.markercluster/dist/MarkerCluster.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css') }}"
    />

    <script src="{{ url_for('static', filename='node_modules/leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>

    <script src="{{ url_for('static', filename='node_modules/leaflet-realtime/dist/leaflet-realtime.min.js') }}"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css') }}"
    />

    <script src="{{ url_for('static', filename='node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.js') }}"></script>

    <link
      rel="icon"
      href="{{ url_for('static', filename='img/all_routes.ico') }}"
    />
    <script src="{{ url_for('static', filename='node_modules/leaflet-realtime/dist/leaflet-realtime.min.js') }}"></script>

    <script src="{{ url_for('static', filename='node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css') }}"
    />
    <script src="{{ url_for('static', filename='node_modules/leaflet-search/dist/leaflet-search.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet-search/dist/leaflet-search.mobile.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet-search/dist/leaflet-search.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/popup.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/tooltip.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/table.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/scrollbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/leaflet_custom.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/animation.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/font.css') }}"
    />
    <script src="{{ url_for('static', filename='functions.js') }}"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/navbar.css') }}"
    />

    <title>MBTA System Map</title>
  </head>

  <body>
    <div class="navbar" id="navbar">
      <a href="../subway" id="subway">Subway</a>
      <a href="../rapid_transit" id="rapid_transit">Rapid Transit</a>
      <a href="../commuter_rail" id="commuter_rail">Commuter Rail</a>
      <a href="../bus" id="bus">Bus</a>
      <a href="../ferry" id="ferry">Ferry</a>
      <a href="../" id="home" class="right">Home</a>
    </div>
    <div id="map"></div>
    <noscript>This page requires Javascript to be enabled.</noscript>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
  </body>
</html>
