@font-face {
  font-family: "montserrat";
  src: url("https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2")
    format("woff2");
}

@font-face {
  font-family: "stone-sans";
  src: url("fonts/stonesans.otf");
}
