.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #f2f2f2;
  opacity: 0.95;
  color: #252525;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  font-family: "montserrat", "Helvetica", sans-serif !important;
  width: auto;
  white-space: nowrap;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #f2f2f2 transparent transparent;
  /* z-index: 10000; */
}

.tooltip .tooltiptext-mini_image {
  top: 2.5px;
  left: 120%;
  visibility: hidden;
  background-color: #f2f2f2;
  opacity: 0.95;
  color: #252525;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  font-family: "montserrat", "Helvetica", sans-serif !important;
  width: auto;
  white-space: nowrap;
}

.tooltip .tooltiptext-mini_image::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #f2f2f2 transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltiptext-mini_image {
  visibility: visible;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}
